publishment.md
#experimental/
.vscode


brainpy/base/tests/io_test_tmp*

development

examples/simulation/data
examples/analysis/data
extensions/.idea
extensions/wheelhouse
extensions/dist
extensions/fixed_wheels
extensions/build
extensions/cmake-build-debug
BrainPyExamples/
BrainModels/
book/
docs/examples
docs/apis/jaxsetting.rst
docs/quickstart/data
examples/recurrent_neural_network/neurogym
develop/iconip_paper
develop/benchmark/COBA/results
develop/test
develop/outputdir
docs/tutorial_math/data
docs/tutorial_simulation/data

docs/images/numpybrain_arch.pptx
docs/images/synapses_index.pdf
docs/images/synapses_index.xlsx
docs/images/neuron_structure.xlsx
docs/images/neuron_structure.pdf
docs/images/connection_methods.pptx

*/_autosummary
*/generated

docs/apis/auto
docs/quickstart/.ipynb_checkpoints

docs/apis/_autosummary
docs/apis/generated
docs/apis/math/generated
docs/apis/integrators/generated

develop/benchmark/COBA/brian2*
develop/benchmark/COBA/annarchy*
develop/benchmark/COBAHH/brian2*
develop/benchmark/COBAHH/annarchy*
develop/benchmark/CUBA/annarchy*
develop/benchmark/CUBA/brian2*


*~
\#*\#
*.pyc
.DS_Store
docs/_autosummary
docs/generated
docs/_build
dist/
build/
*.egg-info
.idea
docs/images/logo1.tif
docs/images/logo2.tif
docs/images/logo3.tif
docs/images/logo4.tif

*/__pycache__
docs/c4_examples/


__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

/docs/apis/simulation/generated/
