-r requirements.txt

matplotlib>=3.4
jaxlib>=0.3.0
scipy>=1.1.0
numba
requests
pillow

# document requirements
pandoc
Jinja2
sphinx
myst-nb
sphinx_book_theme
sphinx-autodoc-typehints
sphinx_thebe
# sphinx-mathjax-offline