numpy
jax<0.6.0
jaxlib<0.6.0
absl-py<=2.1.0
brainstate<=0.1.0.post20241210
braintaichi<=0.0.4
braintools<=0.0.4.post20241215
brainunit<=0.0.4
colorama<=0.4.6
contourpy<=1.3.1
cycler<=0.12.1
dill<=0.3.9
fonttools<=4.55.3
iniconfig<=2.0.0
kiwisolver<=1.4.7
llvmlite<=0.43.0
markdown-it-py<=3.0.0
matplotlib<=3.10.0
mdurl<=0.1.2
ml_dtypes<=0.5.0
msgpack<=1.1.0
multiprocess<=0.70.17
numba<=0.60.0
numpy<=2.0.2
opt_einsum<=3.4.0
packaging<=24.2
pathos<=0.3.3
pillow<=11.0.0
pluggy<=1.5.0
pox<=0.3.6
ppft<=1.7.6.9
pygments<=2.18.0
pyparsing<=3.2.0
pytest<=8.3.4
python-dateutil<=2.9.0.post0
rich<=13.9.4
scipy<=1.14.1
setuptools<=75.6.0
six<=1.17.0
taichi<=1.7.2
tqdm<=4.67.1
typing-extensions<=4.12.2