-r requirements.txt

matplotlib
numba

# document requirements
pandoc
Jinja2
sphinx
myst-nb
sphinx_thebe
sphinx-autodoc-typehints
sphinx-book-theme
sphinx-copybutton
sphinx-remove-toctrees
jupyter-sphinx
sphinx-design
sphinx_math_dollar
