numpy
tqdm
msgpack
numba
jax>=0.4.1
jaxlib>=0.4.1
matplotlib>=3.4
scipy>=1.1.0
numba

# document requirements
pandoc
Jinja2
sphinx>=5
myst-nb
sphinx_thebe
sphinx-autodoc-typehints
sphinx-book-theme>=1.0.1
sphinx-copybutton>=0.5.0
sphinx-remove-toctrees
jupyter-sphinx>=0.3.2
sphinx-design
