name: Docker

on:
  release:
    types: [published]
  pull_request:
    paths:
      - docker/**
      - .github/workflows/docker.yml


jobs:
  docker-build-push:
    if: |
        github.repository_owner == 'brainpy' ||
        github.event_name != 'release'
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        include:
          - context: "docker/"
            base: "brainpy/brainpy"
    env:
      TARGET_PLATFORMS: linux/amd64
      REGISTRY: ghcr.io
      IMAGE_NAME: ${{ github.repository }}
      DOCKER_TAG_NAME: |
        ${{
          (github.event_name == 'release' && github.event.release.tag_name) ||
          'pull-request-test'
        }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Login to DockerHub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Docker Build & Push (version tag)
      uses: docker/build-push-action@v5
      with:
        context: ${{ matrix.context }}
        tags: ${{ matrix.base }}:${{ env.DOCKER_TAG_NAME }}
        push: ${{ github.event_name != 'pull_request' }}
        platforms: ${{ env.TARGET_PLATFORMS }}

    - name: Docker Build & Push (latest tag)
      if: |
          (github.event_name == 'release' && ! github.event.release.prerelease)
      uses: docker/build-push-action@v5
      with:
        context: ${{ matrix.context }}
        tags: ${{ matrix.base }}:latest
        push: ${{ github.event_name != 'pull_request' }}
        platforms: ${{ env.TARGET_PLATFORMS }}